a {
    text-decoration: none;
    color: rgb(235, 222, 222);
    font-weight: bold;
}    
body {
    background-color: black;
    color: rgb(235, 222, 222);
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
#container {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color:bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    margin: 0 auto;
}

form {
    border: solid 2px whitesmoke;
    border-radius: 15px;
    background-color: gray;
    margin: 5% 30%;
    padding: 5%;
}
table form {
    all: initial;
}

input {
    margin: 10px;
    border: solid black 1px;
    height: 20px;
}

button, table button {
    margin: 10px;
    border-radius: 10px;
    border: solid 1px black;
    height: 80px; width: 200px;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(51, 51, 59);
    color: bisque;
}
table button {
    background-color: navy;
    cursor:pointer;
    color: ghostwhite;
    border: none;
    border-radius: 5px;
    height: 100%; width: 90%;
}

p {
    color: white;
    border: white solid 1px;
}

td, th {
    border: white solid 1px;
}
td {
    background-color: navy; 
    font-weight: normal
}

